# Copiar a server/.env y completar valores reales

DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/marcacion_go?schema=public"

PORT=4000
NODE_ENV=development

JWT_SECRET=cambia_esto_por_un_secreto_largo_y_seguro
JWT_EXPIRES_IN=8h
JWT_REFRESH_SECRET=otro_secreto_diferente
JWT_REFRESH_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173

# AWS - solo producción
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_S3_BUCKET=marcacion-go-reportes
